<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <meta name="author" content="FreeHTML5.co" />
  <meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
</head>
<body id="top">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <div class="fl_left">
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace inline pushright">
          <li><i class="fa fa-sign-in"></i> <a href="TurismoPeru/login.html">Iniciar Sesion</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/ConsultarMenu.jpg');">    
    <div class="wrapper row1">
        <header id="header" class="hoc clear"> 
          <div id="logo" class="fl_left">
            <h1><a href="index.html">Buen Sabor</a></h1>
          </div>
          <nav id="mainav" class="fl_right">
            <ul class="clear">
              <li><a class="active" href="index.html">Inicio</a></li>
              <li><a class="active" href="RealizarReserva.html">Realizar Reserva</a></li>
              <li><a class="active" href="ConsultarMenu.html">Consultar Menu</a></li>
              <li><a class="active" href="RevisarCarta.html">Revisar Carta</a></li>
            </ul>
          </nav>
        </header>
      </div>
    <div id="pageintro" class="hoc clear"> 
      <article>
            <div id="">
                <div class="fh5co-narrow-content">
                  <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"> <span></span></h2>
                  <div class="row animate-box" data-animate-effect="fadeInLeft">
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
                      <a href="work.html">
                        <img src="images/entradas.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3 class="fh5co-work-title">Entradas</h3>
                      </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
                      <a href="work.html">
                        <img src="images/fondo.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3 class="fh5co-work-title">Platos de Fondo</h3>
                      </a>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
                      <a href="work.html">
                        <img src="images/postres.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3 class="fh5co-work-title">Postres</h3>
                      </a>
                    </div>
                    <div class="clearfix visible-md-block"></div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
                      <a href="work.html">
                        <img src="images/bebidas.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3 class="fh5co-work-title">Bebidas</h3>
                      </a>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
                      <a href="work.html">
                        <img src="images/sopas.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3 class="fh5co-work-title">Sopas</h3>
                      </a>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 work-item">
                      <a href="work.html">
                        <img src="images/platos.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3 class="fh5co-work-title">Platos Tipicos</h3>                      
                      </a>
                    </div>        
                  </div>
                </div>
              </div>
      </article>
    </div>

    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <p class="fl_left">Copyright &copy; 2016 El Buen Sabor Perú All rights reserved. Avenida Petit Thouars 1175 - <a href="#">Santa Beatriz, Lima </a></p>
        <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>
    </div>
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
  <!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
		
	<!-- MAIN JS -->
	<script src="js/main.js"></script>
</body>
</html>