<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fazt Web | Mobile Web Design</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="iconos/css/fontello.css">
  <style>
     th, td {
          padding: 10px;
      }
      form {
      width: 80%;
      margin: 0 auto;
      text-align: center; 
      text-align-last: left;
      padding: 2%;
    }
    input{
      padding: 1.5%;
      margin: 2%;
    }
  </style>
</head>
<body>
  <!-- MAIN WRAPPER -->
  <div id="wrapper">
    <!-- BANNER WRAPPER -->
    <div id="banner-wrapper">
      <header>
        <div id="header-inner">
          <a href="#" id="logo"><img src="images/logo.jpg" alt=""></a>
          <nav>
            <a href="#" id="menu-icon">
              <i class="fa fa-bars"></i>
            </a>
              <ul>
                <li><a href="index.html" class="current">Inicio</a></li>
                <li><a href="RealizarReserva.html">Realizar Reserva</a></li>
                <li><a href="PedidoDistancia.html">Pedido a Distancia</a></li>
                <li><a href="RevisarCarta.html">Revisar Carta</a></li>
                <li><a href="login.html" style="background:#df6666;color:white;">Iniciar Sesion</a></li>
            </ul>
          </nav>
        </div>  
      </header>
    </div>
    <img src="images/imgContra.jpg"></a>
    <br><br>
        <h2 style="text-align-last: center">Eliminar activos</h2>
        <br><br>
            <form id="formulario" method="POST" action="ConfirmarElimanarActivo.html"> 
                <tr>
                    <td>Nombre del activo</td>
                    <td><input type="text" name=""></td><br>
                </tr>
                <tr>
                    <td>Precio del activo</td>
                    <td><input type="text" name=""></td><br>
                </tr>
                <tr>
                    <td>Tipo de Activo</td>
                        <td><input list="Evento">
                            <datalist id="Evento">
                                <option value="Entrada">Entrada</option>
                                <option value="Sopas">Sopas</option>
                                <option value="Segundo">Segundo</option>
                                <option value="Bebidas">Bebidas</option>
                            </datalist>
                    </td><br>
                </tr>
                <tr>
                    <td><input type="submit" name="" value="Registrar"></td>
                </tr>           
            </form>   
  </div>
  <footer>
    <label class="icon-twitter"></label>
    <label class="icon-facebook"></label>
    <label class="icon-instagram"></label>
  </footer>
</body>
</html>
