<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Restaurant EL Buen Sabor</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="iconos/css/fontello.css">
  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      th, td {
          padding: 15px;
      }
      </style>
</head>
<body>
  <!-- MAIN WRAPPER -->
  <div id="wrapper">
    <!-- BANNER WRAPPER -->
    <div id="banner-wrapper">
      <header>
        <div id="header-inner">
          <a href="#" id="logo"><img src="images/logo.jpg" alt=""></a>
          <nav>
            <a href="#" id="menu-icon">
              <i class="fa fa-bars"></i>
            </a>
              <ul>
                <li><a href="index2.html" class="current">Inicio</a></li>
                <li><a href="RealizarReserva.html">Realizar Reserva</a></li>
                <li><a href="PedidoDistancia.html">Pedido a Distancia</a></li>
                <li><a href="RevisarCarta.html">Revisar Carta</a></li>
                <li><a href="login2.html" style="background:#df6666;color:white;">Iniciar Sesion</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
    
    <img src="images/imgContra.jpg" ></a>
    <br><br>
      <center>
          <h2>Lista de Pedidos</h2>
            <form method="POST" action=""> 
                <br><br>
              <table>
              <tr>
                <th>Hora</th>
                <th>Mesa</th>
                <th>Estado</th>
                <th>Detalle</th>
              </tr>
              <tr>
                <td>2:34</td>
                <td>2</td>
                <td>Listo</td>
                <td><a href="verPedido.html">Pedido</a></td>
              </tr>
              <tr>
                    <td>2:34</td>
                    <td>2</td>
                    <td>Listo</td>
                    <td><a href="verPedido.html">Pedido</a></td>
              </tr>
              <tr>
                    <td>2:34</td>
                    <td>2</td>
                    <td>Listo</td>
                    <td><a href="verPedido.html">Pedido</a></td>
              </tr>
              <tr>
                    <td>2:34</td>
                    <td>2</td>
                    <td>Listo</td>
                    <td><a href="verPedido.html">Pedido</a></td>
              </tr>
              <tr>
                    <td>2:34</td>
                    <td>2</td>
                    <td>Listo</td>
                    <td><a href="verPedido.html">Pedido</a></td>
              </tr>
              <tr>
                    <td>2:34</td>
                    <td>2</td>
                    <td>Listo</td>
                    <td><a href="verPedido.html">Pedido</a></td>
              </tr>                  
            </form>
          </table>  
        </center> 
  </div>
  <footer>
    <label class="icon-twitter"></label>
    <label class="icon-facebook"></label>
    <label class="icon-instagram"></label>
  </footer>
</body>
</html>
