<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
  <link href="TurismoPeru/estilo1.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<style>
  .estiloForm, #encuadraImagen, #datos {
    background-color: #f3f3f3; 
    border: solid 2px black; 
    margin-left:10px; width:300px; 
}
</style>
<body id="top">
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <div class="fl_left">
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace inline pushright">
          <li><i class="fa fa-sign-in"></i> <a href="TurismoPeru/login.html">Iniciar Sesion</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bgded overlay" style="background-image:url('images/demo/backgrounds/images2.jpg');">    
    <div class="wrapper row1">
      <header id="header" class="hoc clear"> 
        <div id="logo" class="fl_left">
          <h1><a href="index.html">Buen Sabor</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
          <ul class="clear">
            <li><a class="active" href="index.html">Inicio</a></li>
            <li><a class="active" href="Reserva.html">Realizar Reserva</a></li>
            <li><a class="active" href="ConsultarMenu.html">Consultar Menu</a></li>
            <li><a class="active" href="RevisarCarta.html">Revisar Carta</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="pageintro" class="hoc clear"> 
      <article>
             <h1>Realiza tu Reserva</h1>
            <div class="contenedor">
                <form action="#">
                  <h2>Eventos Sociales</h2>
                  <div class="estiloForm"> 
                    <label>Ciudad</label>
                    <select id="ciudad" name="ciudad">              
                        <option value="">Elija opción</option>
                        <option value="Mexico">México D.F. (MX)</option>
                        <option value="Madrid">Madrid (ES)</option>
                        <option value="Santiago">Santiago (CL)</option>
                    </select><br/>             
                    <label>Preferencias</label><input name="Libros" type="checkbox" />Libros
                    <input name="Peliculas" type="checkbox"  />Películas
                      <input type="submit" value="Enviar"/> <input type="reset" value="Cancelar"/>
                  </div>
                  <div style="float:left;">
                    <div id="encuadraImagen"><h1> ? </h1></div><br/>
                   <div id="datos" style="float:left;"><h4> Datos introducidos: </h4></div>
                    <div class="promocion">
                      <input type="checkbox" name="" value="">
                      <span class="check">Me gustaria recibir nuevas promociones</span>
                    </div>
                    <div class="subscripcion">
                        <p>Al subscribirme, acepto<a href="#"> Terminos del Servicio</a> y <a href="#">Politica Privada</a></p>
                    </div>
                    <div class="boton">
                        <button type="submit">REGISTRAR</button>
                    </div>
                  </div>
                </form>
                <div class="login">
                  <h3>Ya tengo cuenta, Iniciar Sesion</h3>
                </div>
                <div class="aside">
                    <div class="main">
                        <div class="panel">
                            <a href="#login_form" id="login_pop">LOGIN</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
              </div>
      </article>
    </div>
    <div class="wrapper row5">
      <div id="copyright" class="hoc clear"> 
        <p class="fl_left">Copyright &copy; 2016 El Buen Sabor Perú All rights reserved. Avenida Petit Thouars 1175 - <a href="#">Santa Beatriz, Lima </a></p>
        <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      </div>
    </div>
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="layout/scripts/jquery.min.js"></script>
  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>