<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="iconos/css/fontello.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/estilo-registrar.css">
    <link rel="stylesheet" href="css/estiloRegistrar.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
    <header>
        <img src="images/logo.jpg" class="img-logo">
        <input type="checkbox" id="check">
        <label for="check" class="icon-menu"></label>
        
        <nav class="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="RealizarReserva.html">Realizar Reserva</a></li>
                <li><a href="PedidoDistancia.html">Pedido a Distancia</a></li>
                <li><a href="RevisarCarta.html">Revisar Carta</a></li>
                <li><a href="login.html" style="background:#df6666;color:white;">Iniciar Sesion</a></li>
            </ul>
        </nav>
    </header>
       
    <main>
        <div class="content-one">
            <div class="content-portada">
                <section>
                    <br><br><br><br><br><br>
                    <form action="">
                        <fieldset class="contenedor">
                            <h2>Registrarse</h2>
                            <legend></legend>
                            <div class="informacion">
                                <input type="text" name="nombre" placeholder="Nombres" required="">
                            </div>
                            <div class="informacion">
                                <input type="text" name="nombre" placeholder="Apellido" required="">
                            </div>
                            <div class="informacion">
                                <input type="email" name="correo" placeholder="Correo" required="">
                            </div>
                            <div class="informacion">
                                <input type="Password" name="contraseña" placeholder="Contraseña" required="">
                            </div>
                            <div class="agileinfo">
                                <input type="Password" name="contraseña" placeholder="Confirmar Contraseña" required="">
                            </div>
                            <div class="promocion">
                            <input type="checkbox" name="" value="">
                            <span class="check">Me gustaria recibir nuevas promociones</span>
                            </div>
                            <div class="subscripcion">
                                <p>Al subscribirme, acepto<a href="#"> Terminos del Servicio</a> y <a href="#">Politica Privada</a></p>
                            </div>       
                                <input type = "submit">
                        </fieldset>           
                    </form>        
                 </section>
            </div>
        </div>
    </main>
    <footer>
        <label class="icon-twitter"></label>
        <label class="icon-facebook"></label>
        <label class="icon-instagram"></label>
    </footer>
</body>
</html>