<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ConocePeru</title>
    <link rel="stylesheet"  href="estilo.css" />
</head>
<body>
    <div class="login">
        <h2>Inicia Sesión</h2>
        <form>
            <p>Correo</p>
            <input  type="text"   name="" placeholder="Ingresa tu correo">
            <p>Contraseña</p>
            <input  type="password" name="" placeholder="Ingresa tu contraseña">
            <input type="submit" name="" value="Ingresar">
            <a href="#">Olvidé mi Contraseña</a>
            <a href="#">¿Eres nuevo en ConocePeru? ¡Regístrate!</a> 
        </form>
    </div>
</body>
</html>